 .u-section-1 {
  background-image: url("images/7217F53A-CEDA-4A6C-8C101A96170D0F06_source.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1679px;
}

.u-section-1 .u-shape-1 {
  height: 1584px;
  margin-top: 95px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  margin: -1584px 0 0;
}

.u-section-1 .u-slider-1 {
  width: 793px;
  min-height: 452px;
  margin: -856px auto 60px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-image-1 {
  background-image: url("images/IA-.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/intel-deep-learning-ia-intelligence-artificielle.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-image-3 {
  background-image: url("images/30212411048_2a1d7200e2_z.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-1 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2239px;
  }

  .u-section-1 .u-slider-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2240px;
  }

  .u-section-1 .u-slider-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-slider-1 {
    margin-top: -989px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2295px;
  }

  .u-section-1 .u-shape-1 {
    height: 2201px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -2334px;
  }

  .u-section-1 .u-slider-1 {
    margin-top: -1345px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}